<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="explorer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="rcp explorer"
            name="explorer">
         <property
               name="appName"
               value="explorer">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="net.izhtw.rcp.explorer.master.Application"
         name="rcp explorer application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.izhtw.rcp.explorer.master.Application">
         </run>
      </application>
   </extension>

</plugin>
